# Ignore everything

*

# Allow something

!.bash_profile
!.emacs.d/
!.emacs
!.gitignore
!.hex
!.vimrc
!.zprofile
!.vim/
!.ShadowsocksX-NG/*
!updrade_dotfiles.sh
!localpage/
!i3/
!polybar/
# !./.emacs.d/auto-save-list/*
# !./.emacs.d/games/tetris-scores
# !./.emacs.d/init.el
!sync.sh
!aria2.conf

!local_to_remote.sh
!remote_to_local.sh
!tools.dockerfile
