# Ignore everything

*

# Allow something

!.bash_profile
!.emacs.d/
!.emacs
!.gitignore
!.hex
!.vimrc
!.zprofile
!.vim/
!.ShadowsocksX-NG/*
!updrade_dotfiles.sh
# !./.emacs.d/auto-save-list/*
# !./.emacs.d/games/tetris-scores
# !./.emacs.d/init.el

